
#box1
{
    width: 200px;
    height: 200px;
    background-color: blue;
}
#box1:active
{
    width: 1000px;
    transition: 0.5s 0s all linear;
    transition-timing-function: ease-in ;

}
.box2 button
{
    width: 200px;
    height: 200px;
    background-color: forestgreen;
}
.box2 button:hover
{
    width: 1000px;
    transition:0.5s 0s all;
    transition-timing-function:ease-in;
}