*{
    color: aliceblue;
}
.container
{
    width: 150px;
    height: 600px;
    background-color: black;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: fixed;
    
}
.x{ height: 50px; display: flex; justify-content: end;}


.list
{
    height: 100px;
    background-color: green;
}
.container:hover
{
    transition: 1s 0s all linear;
    width: 600px;
}
.list:hover
{
    background-color: white;
    transition: 0.5s 0s all linear;
}
.list p
{
    font-size: 30px;
    text-align: center;

}
.list p:hover
{
    color: black;
    font-size: 40px;
    transition: 0.5s 0s all linear;
    padding-top: -20px;
}
